.locationListItem {
    display: grid;
    grid-template-columns: 1fr 3em;
    padding: 1em 0.7em;
    background: none;
    border: none;
    border-right: 1px solid #fff8;
    cursor: pointer;
}

.city {
    font-weight: bold;
    font-size: 1.3em;
    margin-bottom: 0.1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.region {
    font-size: 0.8em;
    color: #aaa;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.forecast {
    grid-row: 1 / span 2;
    grid-column: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}