.searchContainer {
  position: relative;
}

.searchBar {
  position: relative;
  padding: 0.5em 0.3em 0.5em 1.7em;
  background: none;
  border-radius: 5em;
  border: 1px solid #aaa;
  box-shadow: 0.1em 0.1em 0.1em 0 #0004;
  z-index: 1;
  font-size: 1.5em;
}

.searchBar::before {
  font-family: "Material Icons Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 1.3em;
  content: "\E8B6";
  position: absolute;
  left: 0.3em;
  top: 50%;
  transform: translateY(-50%);
  color: #ccc;
}

.searchBar:focus-within {
  outline: none;
  border: 1px solid #888;
  background: #0004;
}

.searchBar input {
  border: none;
  background: none;
  width: 15em;
  transition: width ease 0.5s;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}

.searchBar input::placeholder {
  color: #ccc;
}

.searchContainer:focus-within .searchBar input {
  outline: none;
  width: 25em;
}

.searchResults {
  position: absolute;
  inset: 3.8em 2em auto 2em;
  padding: 0.7em 0.3em 0.3em;
  background: #0004;
  border: 1px solid #888;
  box-shadow: 0.1em 0.1em 0.1em 0 #0004;
  border-radius: 0 0 1em 1em;
  transition: all ease 0.5s;
  opacity: 0; /* default hidden and no height */
  height: 0;
  overflow: hidden;
  color: #fff;
}

.searchContainer:focus-within .searchResults {
  /* show results area when search input has focus */
  opacity: 1;
  height: 10em;
}

.resultButton {
  display: block;
  border: none;
  background: none;
  padding: 0.5em 0.3em;
  width: 100%;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
  color: #ccc;
}

.resultButton:not(:last-child) {
  border-bottom: 1px solid #aaa;
}

.resultButton:hover,
.resultButton:focus {
  color: #fff;
}

.searchResults .loadingIcon {
  animation: spin 2s linear infinite;
  color: #eee;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  font-size: 3em;
}

@keyframes spin {
  50% {
    transform: translate(-50%, -50%) rotate(180deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
