.weatherPreview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.weatherPreview img {
    width: 2em;
    height: 2em;
}

.weatherPreview div {
    font-size: 0.8em;
}