* {
    font-family: inherit;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
}

#root {
    position: fixed;
    inset: 0;
}

.App {
  display: grid;
  grid-template: 1fr / 1fr;
  width: 100%;
  height: 100%;
}

#mapContainer {
    grid-area: 1 / 1 / -1 / -1;
    width: 100%;
    height: 100%;
    
}

#map {
    width: 100%;
    height: 100%;
}

    #map [role=dialog] {
        background: #0004;
        background: linear-gradient(135deg, #94c8, #2168);
        border: 1px solid #0004;
        backdrop-filter: blur(2px);
        color: #fff;
        text-shadow: 0.1em 0.1em 0.1em #0004;
    }

        #map [role=dialog] > div::-webkit-scrollbar,
        #map [role=dialog] > div::-webkit-scrollbar-thumb,
        #map [role=dialog] > div::-webkit-scrollbar-track,
        #map [role=dialog] > div::-webkit-scrollbar-track-piece,
        #map [role=dialog] > div::-webkit-scrollbar-corner
        {
            background: transparent;
        }

        #map [role=dialog] button {
            top: 0 !important;
            right: 0 !important;
        }

            #map [role=dialog] button span {
                background: #fff;
            }

    #map .gm-style-iw-t::after {
        background: linear-gradient(45deg,#0008 50%,#0000 51%,#0000 100%);
        border-left: 1px solid #000;
        border-bottom: 1px solid #000;
    }

.forecastGrid {
    display: grid;
    grid-template-columns: 8em 12em;
}

    .forecastGrid > * {
        padding: 0.3em;
    }

.forecastLocation {
    font-weight: bold;
    font-size: 1.5em;
    grid-column: 1 / -1;
}

.forecastCurrentMain {
    text-align: center;
    background-repeat: no-repeat;
    background-position: top center;
    display: grid;
    align-content: end;
    height: 6em;
}

.forecastCurrentMainTemp {
    font-weight: bold;
    font-size: 1.5em;
}

.forecastCurrentMainFeels {
    font-size: 0.825em;
}

.forecastCurrentDetails {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

    .forecastCurrentDetails > div {
        display: flex;
        align-items: center;
        justify-content: start;
        flex-direction: column;
        padding-bottom: 1em;
    }

    .forecastCurrentDetails > div > span {
        margin-bottom: 0.3em;
    }

.forecastFuture {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(40, 1fr);
}

    .forecastFuture > div:not(:last-child) {
        border-right: 1px solid #fff4;
    }

.searchContainer {
    position: absolute;
    top: 1em;
    right: 1em;
}

.searchBar {
    position: relative;
    padding: 0.5em 0.3em 0.5em 1.7em;
    background: #fff;
    border-radius: 0.7em;
    border: 1px solid #aaa;
    box-shadow: 0.1em 0.1em 0.1em 0 #0004;
    z-index: 1;
}

    .searchBar::before {
        font-family: 'Material Icons Outlined';
        font-weight: normal;
        font-style: normal;
        font-size: 1.3em;
        content: '\E8B6';
        position: absolute;
        left: 0.3em;
        top: 50%;
        transform: translateY(-50%);
        color: #ccc;
    }

    .searchBar:focus-within {
        outline: none;
        /*box-shadow: 0.1em 0.1em 0.1em 0 #0004, 0 0 0 0.3em #f004;*/
        border: 1px solid #888;
    }

    .searchBar input {
        border: none;
        background: none;
        width: 15em;
        transition: width ease 0.5s;
    }

        .searchBar input::placeholder {
            color: #ccc;
        }

        .searchContainer:focus-within .searchBar input {
            outline: none;
            width: 25em;
        }

.searchResults {
    position: absolute;
    inset: 2.4em 1em auto 1em;
    padding: 0.7em 0.3em 0.3em;
    background: #fff;
    border: 1px solid #888;
    box-shadow: 0.1em 0.1em 0.1em 0 #0004;
    border-radius: 0 0 0.3em 0.3em;
    transition: all ease 0.5s;
    opacity: 0;
    height: 0;
    overflow: hidden;
}

.searchContainer:focus-within .searchResults {
    opacity: 1;
    height: 10em;
}

.resultButton {
    display: block;
    border: none;
    background: none;
    padding: 0.5em 0.3em;
    width: 100%;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}

    .resultButton:not(:last-child) {
        border-bottom: 1px solid #eee;
    }

    .resultButton:hover,
    .resultButton:focus {
        background: #fafafa;
    }

    .searchResults .material-icons-outlined {
        animation: spin 2s linear infinite;
        color: #eee;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) rotate(0deg);
        font-size: 3em;
    }

    @keyframes spin {
        50% {
            transform: translate(-50%, -50%) rotate(180deg);
        }

        100% {
            transform: translate(-50%, -50%) rotate(360deg);
        }
    }

